.g-recaptcha {
    display: inline-block;
    margin-top: 2em;
    margin-bottom: 2em;
}

.mdl-card > div, form > * {
    text-align: center;
    margin: auto;
}
#maxFileSize {
    color: red;
}

.mdl-card {
    border: double;
    text-align: left;
}

.mdl-grid {
    height: 70%;
}